/* Default css */
.community-container {
  margin: 0 10%;
}
.community-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  padding-top: 133px;
  padding-bottom: 76px;
}
.community-short-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 69px;
}
.community-description {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.qutation {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}
.community-btn {
  background: #09a42b;
  border-radius: 15px;
  padding: 12px 57px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.025em;
  border: none;
}
.community-left {
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 66px 25px;
}
.community-left-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  padding: 34px 0px;
  text-align: center;
}
.community-left-description {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.025em;
}
.community-right {
  background: #6c63ff;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 66px 25px;
}
.community-right-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  padding: 34px 0px;
  text-align: center;
  color: white;
}
.community-right-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.025em;
  padding-bottom: 200px;
  color: white;
}
.communit-button-btn {
  background: #09a42b;
  border-radius: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.025em;
  padding: 30px 127px;
  color: white;
  border: none;
  margin-bottom: 100px;
}

/* communtity section */
.qna-banner {
  background-image: url("https://i.ibb.co/FD3Wvnh/Rectangle-195.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.qna-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 436px;
}
.answer-input {
  background: #ffffff;
  border-radius: 10px;
}
.banner-cntent {
  position: absolute;
  top: 165px;
  left: 15%;
  width: 75%;
}
.form-top {
  background: #d9d9d9;
  border-radius: 10px;
  position: relative;
  margin-top: 15px;
}
.qna-title-f {
  font-size: 30px;
  line-height: 38px;
  margin: 15px 0px;
}
.search {
  position: absolute;
  top: 15px;
  left: 6px;
}
.qna-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 25px;
  margin-top: 44px;
  padding: 32px 55px;
}
.from-bottom {
  display: flex;
  flex-direction: column;
}
.from-bottom input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.025em;
  color: #000000;
  padding: 5px;
}
.qna-btn {
  background: #09a42b;
  border-radius: 15px;
  padding: 8px 60px;
  margin-top: 10px;
  border: none;
  outline: none;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
  width: 35%;
}
.question-container {
  background: #ffffff;
  border-radius: 25px;
  padding: 30px;
}
.qna-content-f {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.see-btn {
  background: #ffffff;
  border-radius: 15px;
  width: 100%;
  border: none;
  outline: none;
  padding: 16px 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
.show-btn-top {
  background: #09a42b;
  border-radius: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
  padding: 20px 70px;
  border: none;
  outline: none;
  margin-top: 40px;
}
@media screen and (max-width: 968px) {
  .community-title {
    font-size: 44px;
    padding-top: 100px;
    padding-bottom: 54px;
  }
  .community-short-title {
    font-size: 34px;
  }
  .community-description {
    font-size: 18px;
  }
  .qna-title {
    font-size: 24px;
  }
  .banner-cntent {
    width: 95%;
    top: 165px;
    left: 2%;
  }
  .qna-content-f {
    flex-direction: column;
  }
  .community-btn {
    border-radius: 10px;
    padding: 10px 44px;
    font-size: 20px;
  }
  .community-left {
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 44px 20px;
  }
  .community-left-title {
    font-size: 30px;
  }
  .community-left-description {
    font-size: 24px;
  }
  .community-right-title {
    font-size: 24px;
  }
  .community-right-description {
    font-size: 18px;
    padding-bottom: 143px;
  }
  .communit-button-btn {
    border-radius: 18px;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .community-btn {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
  }
  .communit-button-btn {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
  }
}
